@model WebXemPhim.Models.Advertise

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Advertise</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AdName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AdImage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AdImage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AdID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
